@charset "UTF-8";
/**
* @name Pøz
* @author Pozm#6946
* @description Discord theme
* @version 1.1.4
* @source https://github.com/pozm/poz
*/
/*discord*/
/*	settings	*/
/*	--------	*/
/* Stickers are enabled */
.container-2VW0UT.elevationHigh-1PneE4, .gifTag-31zFY8, .userPopout-xaxa6l, .css-3vaxre-menu, .unicodeShortcut-15J8Ck, .videoControls-2kcYic, .theme-dark .root-1gCeng {
  backdrop-filter: blur(24px);
  background-color: rgba(63, 40, 51, 0.1) !important;
  border: solid 1px transparent;
}

.paymentSourceLabel-1lo4Ca, .cardIcon-3U4mwZ + div > .subText-V8PTt8 {
  transition: filter 0.4s;
  filter: blur(8px);
}
.paymentSourceLabel-1lo4Ca:hover, .cardIcon-3U4mwZ + div > .subText-V8PTt8:hover {
  filter: blur(0);
}

.search-1iTphC .searchBox-2_mAlO, #permissions-modal div, #EditUploadsModal, .wrapper-3jrx9n label:not(.selected-mKYnfr).option-n0icdO, .warning-3C2pOH, .cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g, .css-gvi9bl-control, .css-6fzn47-control, .theme-dark .message-2qRu38, .theme-dark .autocomplete-1vrmpx, .theme-dark .perksModal-fSYqOq, .theme-dark .container-3ayLPN, .theme-dark .modal-yWgWj-, .theme-dark .codeRedemptionRedirect-1wVR4b, .theme-dark .container-1D34oG, .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, .theme-dark .paginator-166-09 .payment-xT17Mq, .theme-dark .paymentPane-3bwJ6A .payment-xT17Mq, .theme-dark .paginator-166-09, .theme-dark .paymentPane-3bwJ6A {
  background: #181a1f !important;
  background-color: #181a1f !important;
}

.header-2V-4Sw, .wrapper-3EGhDO .colorable-1bkp8v.primaryDark-3mSFDl, .input-2VB9rf, .theme-light .inputWrapper-31_8H8, #EditUploadsToolbar, .item-26Dhrx[aria-checked=true], .theme-dark .perk-2WeBWW, .theme-dark .pageWrapper-1PgVDX, .theme-dark .footer-3mqk7D, .theme-dark .uploadModal-2ifh8j {
  background: #131315;
}

.expandedInfo-3kfShd, .theme-dark .tierBody-16Chc9 {
  background: #16171c !important;
}

:root {
  --background-floating:#181a1f;
  --background-tertiary:rgba(17, 18, 22, 0.7);
  --background-primary:#131315;
  --channeltextarea-background:#181a1f;
  --background-secondary-alt:#181a1f;
  --background-secondary:#181a1f;
  --burple: #db5e85;
  --info-warning-foreground: #db5e85;
  --background-mentioned: rgba(179, 40, 83, 0.3);
  --background-mentioned-hover: rgba(179, 40, 83, 0.4);
  --background-mentioned-bar: #db5e85;
  --indicator-selected-border: #db5e85;
  --indicator-selected-background:rgba(219, 94, 133, 0.1);
  --indicator-selected-hover:rgba(219, 94, 133, 0.2);
  --text-link:#db5e85;
  --brand-experiment:#db5e85;
  /*other settings 4 u to configure (compiled css)*/
  --ClydeReplaceAvatar:url("https://i.imgur.com/OxMtO9h.jpg") /* Avatar for the clyde replace */;
  --ClydeReplaceName:"femboy" /* username for the clyde replace */;
}

::-webkit-input-placeholder, body, button, input, select, textarea {
  font-family: "Noto Sans", "Whitney", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.auto-Ge5KZx::-webkit-scrollbar-track {
  background-color: #181a1f !important;
}

::-webkit-scrollbar-thumb {
  background-color: #b32853 !important;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
  background: #db5e85 !important;
}

.ephemeral-1PsL1r {
  background-color: var(--background-mentioned);
}
.ephemeral-1PsL1r:before {
  background-color: #db5e85;
}
.ephemeral-1PsL1r:hover {
  background-color: var(--background-mentioned-hover) !important;
}

.replying-1x3H0T {
  background-color: var(--background-mentioned);
}
.replying-1x3H0T:before {
  background-color: #db5e85;
}
.replying-1x3H0T:hover {
  background-color: var(--background-mentioned-hover) !important;
}

img[src*="/assets/f78426a064bc9dd24847519259bc42af.png"] {
  content: var(--ClydeReplaceAvatar);
}
img[src*="/assets/f78426a064bc9dd24847519259bc42af.png"] + h2 > span > .username-1A8OIy {
  font-size: 0;
}
img[src*="/assets/f78426a064bc9dd24847519259bc42af.png"] + h2 > span > .username-1A8OIy:before {
  content: var(--ClydeReplaceName);
  opacity: 1;
  color: white;
  font-size: initial;
}

div[aria-label=Clyde] .headerTagUsernameNoNickname-2-Y5Ct {
  font-size: 0;
}
div[aria-label=Clyde] .headerTagUsernameNoNickname-2-Y5Ct::before {
  content: var(--ClydeReplaceName);
  opacity: 1;
  color: white;
  font-size: 20px;
}
div[aria-label=Clyde] .banner-2QYc2d.popoutBanner-19WKGg {
  background-color: #db5e85 !important;
}

.theme-dark .input-3ITkQf:checked + .checkbox-1ix_J3 {
  background-color: transparent !important;
  border-color: #db5e85 !important;
}
.theme-dark .input-3ITkQf:checked + .checkbox-1ix_J3 * {
  color: #db5e85 !important;
  fill: #db5e85 !important;
}
.theme-dark .footer-2gL1pp {
  background: transparent !important;
  background-color: transparent !important;
}
.theme-dark .wrapper-3WhCwL {
  background: #b32853;
}
.theme-dark .wrapper-3WhCwL:hover {
  background: #db5e85;
}
.theme-dark .premiumIndicator-1XvbfMm, .theme-dark .botTagRegular-2HEhHi {
  background-color: #db5e85;
}
.theme-dark .planOption-3m2svN[aria-checked=true] .checkbox-1ix_J3 {
  background-color: #db5e85 !important;
  border-color: #db5e85 !important;
}
.reaction-1hd86g.reactionMe-wv5HKu {
  border-color: #db5e85;
  background-color: rgba(219, 94, 133, 0.06);
}

.item-1tOPte:not(.focused-3afm-j) .checkbox-3s5GYZ {
  color: #db5e85 !important;
}
.item-1tOPte.focused-3afm-j .check-1JyqgN {
  color: #db5e85 !important;
}

.mediaBarProgress-1xaPtl {
  background-color: #db5e85;
}
.mediaBarProgress-1xaPtl:before, .mediaBarProgress-1xaPtl:after {
  background-color: #db5e85;
}

.bubble-3qRl2J, .mediaBarGrabber-1FqnbN {
  background-color: #db5e85 !important;
}

.input-cIJ7To.focused-1mmYsC:not(.searchBoxInput-K6mkng):not(input[name=invite]), .input-cIJ7To:focus:not(.searchBoxInput-K6mkng):not(input[name=invite]), .input-cIJ7To:hover:not(.searchBoxInput-K6mkng):not(input[name=invite]) {
  border: 1px solid #db5e85;
}

.backdrop-1wrmKB {
  background: rgba(19, 19, 21, 0.56) !important;
  backdrop-filter: blur(2px);
  opacity: 1 !important;
}

.radioIconForeground-XwlXQN {
  color: #db5e85;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: #db5e85;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: #db5e85;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: rgba(219, 94, 133, 0.5);
}

.selectorButtonSelected-t5V9On {
  background-color: #db5e85;
}

.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: #b32853;
}

.premiumTabItem-1QTfBr[aria-selected=true] {
  --brand-experiment: #db5e85;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
  color: #db5e85;
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
  background-color: #f8dfe7;
}

.perkListItemIcon-2B4aA2.hasPerkIcon-JJ5Ezo {
  color: #db5e85;
}

.progressBar-3u8FBM {
  background-color: #db5e85 !important;
  background: #db5e85;
}

.bar-2Qqk5Z .barFill-23-gu- {
  background: #db5e85;
}

.sourceThumbnail-27dolk:hover {
  box-shadow: inset 0 0 0 2px #db5e85 !important;
}
.sourceThumbnail-27dolk.selected-1nOkyc {
  box-shadow: inset 0 0 0 2px #db5e85 !important;
}

.tile-2w4k5N:hover .sourceThumbnail-27dolk {
  box-shadow: inset 0 0 0 2px #db5e85 !important;
}
.tile-2w4k5N:hover .sourceThumbnail-27dolk.selected-1nOkyc {
  box-shadow: inset 0 0 0 2px #db5e85 !important;
}

.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: #db5e85;
}
.colorDefault-2K3EoJ.focused-3afm-j:active:not(.hideInteraction-1iHO1O), .colorDefault-2K3EoJ.focused-3afm-j .colorDefault-2K3EoJ.focused-3afm-j {
  background-color: #b32853 !important;
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: #b32853 !important;
}

.wrapper-3jrx9n {
  border: 2px solid #db5e85;
}
.wrapper-3jrx9n .disabled-3I9jyo:not(.selected-mKYnfr) * {
  color: #181a1f;
}
.wrapper-3jrx9n .selected-mKYnfr.option-n0icdO {
  background: #db5e85;
}

.subscriptionDetails-1dUmjl::before {
  content: "nitro is dogshit!";
  color: var(--text-normal);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: #db5e85;
}

.theme-light .container-UC8Ug1 {
  background-color: #2c3039;
}
.theme-light .container-UC8Ug1 .text-1FOLJS {
  color: var(--background-accent);
}
.theme-light .base-1x0h_U {
  color: var(--status-warning-text);
}
.theme-light .colorHeaderSecondary-3Sp3Ft {
  color: var(--background-tertiary);
}
.theme-light .root-1gCeng {
  box-shadow: 0 0 0 1px #131315, 0 2px 10px 0 #131315;
}
.theme-light .footer-2gL1pp {
  box-shadow: 0 0 0 1px #131315;
}
.theme-light .inputWrapper-31_8H8 input {
  color: var(--status-warning-text);
}

.newMessagesBar-265mhP {
  background-color: #db5e85;
}

.flowerStar-1GeTsn *, .selectedIcon-3uS11H * {
  fill: #db5e85;
}

.editingContainer-1iOrsV {
  background: transparent !important;
}

.icon-27yU2q[src*="cdn.discordapp.com/icons/538759280057122817"] {
  content: url("https://powercord.dev/assets/powercord.560b7dc8.png");
}

.sampleLink-2NLvZg {
  color: var(--status-warning-text);
}

.colorBrand-ROmMP1 {
  color: #db5e85;
}

.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
  color: var(--status-danger-text);
}

.search-1iTphC .searchBox-2_mAlO:focus, .search-1iTphC .searchBox-2_mAlO:focus-within {
  box-shadow: 0 0 0 1px #db5e85, 0 0 0 2px #e27e9d, 0 0 0 3px #df6e91;
}

.bodyInnerWrapper-26fQXj {
  background-color: #131315 !important;
}

.panels-j1Uci_ {
  box-shadow: 0 -10px 7px 8px #181a1f;
}

#channels {
  border-radius: 8px 8px 0 0;
}

.userPopout-xaxa6l > div, .userPopout-xaxa6l .headerTop-2cWpdB, .userPopout-xaxa6l .aboutMeSection---MkQa {
  background: #131315;
}
.userPopout-xaxa6l .banner-2QYc2d {
  opacity: 0.8;
}

.hljs {
  background-color: #181a1f !important;
}

.icons-1w691d .icon-kyxXVr {
  filter: hue-rotate(70deg) !important;
}

.gifTag-31zFY8 {
  border-radius: 0.4em;
}

.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
  filter: hue-rotate(70deg);
  /* i swear im not paranoid please listen to meeeeeeeeeeeee*/
}

.betaBadge-1Ve-yb {
  background-color: #db5e85 !important;
}

.bodyInnerWrapper-26fQXj {
  border-radius: 8px;
  padding-bottom: 1px;
}

/*# sourceMappingURL=poz.theme.css.map */
