$color-light: #181a1f;
$color-light-darker:scale-color($color-light, $lightness:-30%);
$color-light-darkerA:rgba($color-light-darker,.7);
$color-dark : #131315;
$color-accent: #db5e85;
$color-accent-dark: scale-color($color-accent, $lightness:-30%);

%blur {
	backdrop-filter: blur(24px);
	background-color: rgba($color-light,.1) !important;
	border: solid 1px transparent;
}
%BlurUntilHover {
	transition: filter .4s;
	filter:blur(8px);
	&:hover {
		filter: blur(0)
	}
}

%fixColour {
	background: $color-light;
}
%fixColour-Dark {
	background: $color-dark;
}
%fixColour-lDark {
	background: scale-color($color-light,$lightness:-10%);
}

:root {
	--background-floating:#{$color-light};
	--background-tertiary:#{rgba($color-light-darker,.7)};
	--background-primary:#{$color-dark};
	--channeltextarea-background:#{$color-light};
	--background-secondary-alt:#{$color-light};
	--background-secondary:#{$color-light};
	--burple: #{$color-accent};
	--info-warning-foreground: #{$color-accent};
	--background-mentioned: #{rgba($color-accent-dark,.3)};
	--background-mentioned-hover: #{rgba($color-accent-dark,.4)};
	--background-mentioned-bar: #{$color-accent};
	--indicator-selected-border: #{$color-accent};
	--indicator-selected-background:#{rgba($color-accent,.1)};
}

//.cozy-3raOZG.message-2qnXI6.mentioned-xhSam7 .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK)
::-webkit-input-placeholder, body, button, input, select, textarea{
	font-family: "Noto Sans","Whitney","Helvetica Neue","Helvetica","Arial","sans-serif" !important;
}
::-webkit-scrollbar-track {
	background-color:$color-light !important;
}
.auto-Ge5KZx::-webkit-scrollbar-thumb {
	background-color: $color-accent-dark !important;
}
.modeUnread-1qO3K1 {

}
.ephemeral-1PsL1r {
	&:before {
		background-color: $color-accent
	}
	&:hover {

		background-color: var(--background-mentioned-hover) !important;
	}
	background-color: var(--background-mentioned);
}
// trolling 2
img[src*="/assets/f78426a064bc9dd24847519259bc42af.png"] {
	& + h2 > span > .username-1A8OIy {
		//opacity: 0;
		&:before {
			content: "Pøzm";
			opacity: 1;
			color: white;
			font-size: initial;
		}

		font-size: 0;
	}
	content: url("https://cdn.discordapp.com/avatars/288062966803333120/53e3a79a523939fd3b30ddcd8d464990.webp?size=2048")
}

// make shit correct colour;

.theme-dark {
	& .paginator-166-09,& .paymentPane-3bwJ6A {
		@extend %fixColour;
		& .payment-xT17Mq {
			@extend %fixColour;
		}
	}
	& .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
		@extend %fixColour;
	}
	& .container-1D34oG {
		@extend %fixColour;
	}
	& .codeRedemptionRedirect-1wVR4b {
		@extend %fixColour
	}
	// old i assume
	& .input-3ITkQf:checked + .checkbox-1ix_J3 {
		//background-color: $color-accent !important;
		border-color: $color-accent !important;
		* {
			color: $color-accent !important;
			fill: $color-accent !important;
		}
	}
	& .root-1gCeng {
		@extend %fixColour
	}
	& .footer-2gL1pp {
		@extend %fixColour
	}
	& .uploadModal-2ifh8j {
		@extend %fixColour-Dark
	}
	& .footer-3mqk7D {
		@extend %fixColour-Dark
	}
	// mentions
	& .wrapper-3WhCwL {
		background: $color-accent-dark;
		&:hover {
			background: $color-accent;
		}
	}
	& .modal-yWgWj- {
		@extend %fixColour
	}
	& .container-3ayLPN {
		@extend %fixColour
	}
	& .perksModal-fSYqOq {
		@extend %fixColour
	}

}
.videoControls-2kcYic {
	@extend %blur
}
.mediaBarProgress-1xaPtl {
	background-color: $color-accent;
	&:before, &:after {
		background-color: $color-accent;

	}
}
.bubble-3qRl2J,.mediaBarGrabber-1FqnbN {
	background-color: #db5e85 !important;
}
.unicodeShortcut-15J8Ck {
	@extend %blur
}

// notes hover / message
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
	border: 1px solid $color-accent;
}
// bypass important

.backdrop-1wrmKB {
	background: rgba($color-dark,.56) !important;
	backdrop-filter: blur(2px);
	opacity: 1 !important;
}

// components recolour;
.radioIconForeground-XwlXQN {
	color:$color-accent;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	&:hover {
		background-color: rgba($color-accent,.5);

	}
	background-color: $color-accent;
}
// i hope this is the switch element
//.control-2BBjec {
//
//	& .container-3auIfb {
//		&:not(& input[type="checkbox"]:checked) {
//			background-color: $color-accent !important;
//
//		}
//	}
//
//} // i cannot be fucking bothered trying to style this piece of shit

// toggle ?
.item-26Dhrx[aria-checked=true] {
	@extend %fixColour-Dark
}

// slider
.bar-2Qqk5Z {
	& .barFill-23-gu- {
		background: $color-accent; // ez'd
	}
}

// drop down pre
.css-gvi9bl-control {
	@extend %fixColour
}
.css-6fzn47-control {
	@extend %fixColour
}
// drop down
.css-3vaxre-menu {
	@extend %blur
}

// some card shit
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g {
	@extend %fixColour;
}
//warning
.warning-3C2pOH {
	@extend %fixColour
}
// drop up 2?
.colorDefault-2K3EoJ.focused-3afm-j {
	&:active:not(.hideInteraction-1iHO1O),.colorDefault-2K3EoJ.focused-3afm-j {
		background-color: $color-accent-dark !important;
	}
	background-color: $color-accent;
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
	background-color: $color-accent-dark !important;
}
//.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O)

// overlay positioning
.wrapper-3jrx9n {
	border:2px solid $color-accent;

	& .disabled-3I9jyo:not(.selected-mKYnfr) {
		* {
			color: $color-light
		}
	}
	& label:not(.selected-mKYnfr) {
		&.option-n0icdO {

			@extend %fixColour

		}
	}
	& .selected-mKYnfr {
		&.option-n0icdO {
			background: $color-accent;
		}
	}

}
#EditUploadsToolbar {
	@extend %fixColour-Dark
}
#EditUploadsModal {
	@extend %fixColour
}

/** STICKER REMOVER  */

.assetWrapper-3GNt0z > canvas, .assetWrapper-3GNt0z > img {

	visibility:hidden;
	height:0;

}
.assetWrapper-3GNt0z {
	height:auto !important;
}
.assetWrapper-3GNt0z:before {
	content:"There is a retarded sticker here";
	color:white;
}


// bit of trolling
.subscriptionDetails-1dUmjl {
	&::before {
		content:"nitro is dogshit!";
		color:var(--text-normal);
	}
}

// they censor the email, phone number, etc. but they don't censor the payment email??? like what is going on in their head?
.paymentSourceLabel-1lo4Ca {
	@extend %BlurUntilHover
}

//css



// i ddidn't use any of it so it's gone
