/**
* @name Pøz
* @author Pozm#6946
* @description Discord theme
* @version 1.1.4
* @source https://github.com/pozm/poz
*/
$color-light: #181a1f;
$color-lighter: scale-color($color-light, $lightness:10%);;
$color-light-darker:scale-color($color-light, $lightness:-30%);
$color-light-darkerA:rgba($color-light-darker,.7);
$color-dark : #131315;
$color-accent: #db5e85;
//$color-accent: #d97abd;
$color-accent-dark: scale-color($color-accent, $lightness:-30%);
$color-accent-light:scale-color($color-accent,$lightness:20%);

/*discord*/
$color-user-popout:#131315;

// scss settings
$DisableStickers: false;

/*	settings	*/

/*	--------	*/
@if($DisableStickers) {

	/* Stickers are disabled */

} @else {

	/* Stickers are enabled */

}

%blur {
	backdrop-filter: blur(24px);
	background-color: rgba( mix($color-light,$color-accent,80),.1) !important;
	border: solid 1px transparent;
}
%BlurUntilHover {
	transition: filter .4s;
	filter:blur(8px);
	&:hover {
		filter: blur(0)
	}
}
//
%fixColour {
	background: $color-light !important;
	background-color: $color-light !important;
}
%fixColour-Dark {
	background: $color-dark;
}
%fixColour-lDark {
	background: scale-color($color-light,$lightness:-10%) !important;
}

:root {
	--background-floating:#{$color-light};
	--background-tertiary:#{rgba($color-light-darker,.7)};
	--background-primary:#{$color-dark};
	--channeltextarea-background:#{$color-light};
	--background-secondary-alt:#{$color-light};
	--background-secondary:#{$color-light};
	--burple: #{$color-accent};
	--info-warning-foreground: #{$color-accent};
	--background-mentioned: #{rgba($color-accent-dark,.3)};
	--background-mentioned-hover: #{rgba($color-accent-dark,.4)};
	--background-mentioned-bar: #{$color-accent};
	--indicator-selected-border: #{$color-accent};
	--indicator-selected-background:#{rgba($color-accent,.1)};
	--indicator-selected-hover:#{rgba($color-accent,.2)}; // not lazy i swear
	--text-link:#{$color-accent};
	--brand-experiment:#{$color-accent};

	/*other settings 4 u to configure (compiled css)*/

	--ClydeReplaceAvatar:url("https://i.imgur.com/OxMtO9h.jpg") /* Avatar for the clyde replace */;
	--ClydeReplaceName:"femboy" /* username for the clyde replace */;
}


::-webkit-input-placeholder, body, button, input, select, textarea{
	font-family: "Noto Sans","Whitney","Helvetica Neue","Helvetica","Arial","sans-serif";
}
.auto-Ge5KZx::-webkit-scrollbar-track {
	background-color:$color-light !important;
}
::-webkit-scrollbar-thumb {
	background-color: $color-accent-dark !important;
}
.modeUnread-1qO3K1 {

}

// upload modal
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
	background: $color-accent !important;
}

.ephemeral-1PsL1r {
	&:before {
		background-color: $color-accent
	}
	&:hover {

		background-color: var(--background-mentioned-hover) !important;
	}
	background-color: var(--background-mentioned);
}
.replying-1x3H0T {
	&:before {
		background-color: $color-accent
	}
	&:hover {

		background-color: var(--background-mentioned-hover) !important;
	}
	background-color: var(--background-mentioned);
}
// trolling 2
img[src*="/assets/f78426a064bc9dd24847519259bc42af.png"] {
	& + h2 > span > .username-1A8OIy {
		//opacity: 0;
		&:before {
			content: var(--ClydeReplaceName);
			opacity: 1;
			color: white;
			font-size: initial;
		}

		font-size: 0;
	}
	content: var(--ClydeReplaceAvatar);
}
div[aria-label="Clyde"] {
	& .headerTagUsernameNoNickname-2-Y5Ct {
		&::before{
			content:var(--ClydeReplaceName);
			opacity: 1;
			color: white;
			font-size: 20px;
		}
		font-size: 0;
	}
	& .banner-2QYc2d.popoutBanner-19WKGg {
		background-color: $color-accent !important;
	}
}


// make shit correct colour;

.theme-dark {
	& .paginator-166-09,& .paymentPane-3bwJ6A {
		@extend %fixColour;
		& .payment-xT17Mq {
			@extend %fixColour;
		}
	}
	& .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
		@extend %fixColour;
	}
	& .container-1D34oG {
		@extend %fixColour;
	}
	& .codeRedemptionRedirect-1wVR4b {
		@extend %fixColour
	}
	// old i assume
	& .input-3ITkQf:checked + .checkbox-1ix_J3 {
		background-color: transparent !important;
		border-color: $color-accent !important;
		* {
			color: $color-accent !important;
			fill: $color-accent !important;
		}
	}
	& .root-1gCeng {
		@extend %blur
	}
	& .footer-2gL1pp {
		background: transparent !important;
		background-color: transparent !important; // cba to check which one it uses
	}
	& .uploadModal-2ifh8j {
		@extend %fixColour-Dark
	}
	& .footer-3mqk7D {
		@extend %fixColour-Dark
	}
	// mentions
	& .wrapper-3WhCwL {
		background: $color-accent-dark;
		&:hover {
			background: $color-accent;
		}
	}
	& .modal-yWgWj- {
		@extend %fixColour
	}
	& .container-3ayLPN {
		@extend %fixColour
	}
	& .perksModal-fSYqOq {
		@extend %fixColour
	}
	& .autocomplete-1vrmpx {
		@extend %fixColour
	}
	& .pageWrapper-1PgVDX {
		@extend %fixColour-Dark
	}
	& .perk-2WeBWW {
		@extend %fixColour-Dark
	}
	& .tierBody-16Chc9 {
		@extend %fixColour-lDark
	}
	& .premiumIndicator-1XvbfMm,.botTagRegular-2HEhHi {
		background-color: $color-accent;
	}
	// another bloody check box (used when purchasing a gift)
	& .planOption-3m2svN {
		&[aria-checked="true"] {
			.checkbox-1ix_J3 {
				background-color: $color-accent !important;
				border-color: $color-accent !important;
			}
		}
	}
	//& .checkbox-1ix_J3 {
	//	background-color: $color-accent;
	//}
	& .message-2qRu38 {
		@extend %fixColour
	}
}

// im sorry that i cannot be bothered going through the like 100 different vars they have; mald more.
.reaction-1hd86g.reactionMe-wv5HKu {
	border-color:$color-accent;
	background-color :rgba($color-accent,.06);

}

// yea you guessed it, another checkbox
.item-1tOPte {
	// wow really bad sass! i can't wait for another kid in the powercord discord to mald!
	&:not(.focused-3afm-j) {

		.checkbox-3s5GYZ {
			color:$color-accent !important;
		}
	}
	&.focused-3afm-j {
		.check-1JyqgN {
			color:$color-accent !important;
		}
	}
}
.videoControls-2kcYic {
	@extend %blur
}
.mediaBarProgress-1xaPtl {
	background-color: $color-accent;
	&:before, &:after {
		background-color: $color-accent;

	}
}
.bubble-3qRl2J,.mediaBarGrabber-1FqnbN {
	background-color: #db5e85 !important;
}
.unicodeShortcut-15J8Ck {
	@extend %blur
}

// notes hover / message
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus,.input-cIJ7To:hover {
	&:not(.searchBoxInput-K6mkng):not(input[name='invite']) { // scuffed but works.
		border: 1px solid $color-accent;
	}
}
.backdrop-1wrmKB {
	background: rgba($color-dark,.56) !important;
	backdrop-filter: blur(2px);
	opacity: 1 !important;
}

// components recolour;
.radioIconForeground-XwlXQN {
	color:$color-accent;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	&:disabled {
		background-color: $color-accent;
	}
	&:hover {
		background-color: rgba($color-accent,.5);

	}
	background-color: $color-accent;
}
// button 2 ? (used for screenshare fps & res)
.selectorButtonSelected-t5V9On {
	background-color: $color-accent;
}
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
	background-color: $color-accent-dark;
}
//button 3? used for subscriptions tab
.premiumTabItem-1QTfBr[aria-selected=true] {
	// we do a little bit of trolling (to overwrite the important)
	--brand-experiment: #{$color-accent};
}

//invert button
.lookInverted-2D7oAl.colorBrand-3pXr91 {
	color: $color-accent;
	&:hover {
		// lol u gonna mald?
		background-color: mix(white,$color-accent,80);
	}
}
// perk list in nitro vs nitro classic
.perkListItemIcon-2B4aA2.hasPerkIcon-JJ5Ezo {
	color: $color-accent;
}
// uploading progress bar
.progressBar-3u8FBM {
	background-color: $color-accent !important;
	background: $color-accent;
}

// i hope this is the switch element
//.control-2BBjec {
//
//	& .container-3auIfb {
//		&:not(& input[type="checkbox"]:checked) {
//			background-color: $color-accent !important;
//
//		}
//	}
//
//} // i cannot be fucking bothered trying to style this piece of shit

// toggle ?
.item-26Dhrx[aria-checked=true] {
	@extend %fixColour-Dark
}

// slider
.bar-2Qqk5Z {
	& .barFill-23-gu- {
		background: $color-accent; // ez'd
	}
}

// screenshare window selector
.sourceThumbnail-27dolk {
	&:hover {
		box-shadow: inset 0 0 0 2px $color-accent !important;
	}
	&.selected-1nOkyc {
		box-shadow: inset 0 0 0 2px $color-accent !important;
	}
}
// lazy
.tile-2w4k5N:hover .sourceThumbnail-27dolk {
	box-shadow: inset 0 0 0 2px $color-accent !important;

	&.selected-1nOkyc {
		box-shadow: inset 0 0 0 2px $color-accent !important;
	}
}

// drop down pre
.css-gvi9bl-control, .css-6fzn47-control {
	@extend %fixColour
}
// drop down
.css-3vaxre-menu {
	@extend %blur
}

// some card shit
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g {
	@extend %fixColour;
}
//warning
.warning-3C2pOH {
	@extend %fixColour
}
// drop up 2?
.colorDefault-2K3EoJ.focused-3afm-j {
	&:active:not(.hideInteraction-1iHO1O),.colorDefault-2K3EoJ.focused-3afm-j {
		background-color: $color-accent-dark !important;
	}
	background-color: $color-accent;
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
	background-color: $color-accent-dark !important;
}
//.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O)

// overlay positioning
.wrapper-3jrx9n {
	border:2px solid $color-accent;

	& .disabled-3I9jyo:not(.selected-mKYnfr) {
		* {
			color: $color-light
		}
	}
	& label:not(.selected-mKYnfr) {
		&.option-n0icdO {

			@extend %fixColour

		}
	}
	& .selected-mKYnfr {
		&.option-n0icdO {
			background: $color-accent;
		}
	}

}
#EditUploadsToolbar {
	@extend %fixColour-Dark
}
#EditUploadsModal {
	@extend %fixColour
}

@if($DisableStickers) {
/** STICKER REMOVER  */

	.assetWrapper-3GNt0z > canvas, .assetWrapper-3GNt0z > img {

		visibility:hidden;
		height:0;

	}
	.assetWrapper-3GNt0z {
		height:auto !important;
	}
	.assetWrapper-3GNt0z:before {
		content:"There is a retarded sticker here (removed by Pøz)";
		color:white;
	}
}
// purchase history expanded
.expandedInfo-3kfShd {
	@extend %fixColour-lDark
}
// purchase method in billing
// idk if subText is used elsewhere and to be frank, i cba to check so im just doing it this way
.cardIcon-3U4mwZ + div > .subText-V8PTt8 {
	@extend %BlurUntilHover
}


// bit of trolling
.subscriptionDetails-1dUmjl {
	&::before {
		content:"nitro is dogshit!";
		color:var(--text-normal);
	}
}

// they censor the email, phone number, etc. but they don't censor the payment email??? like what is going on in their head?
.paymentSourceLabel-1lo4Ca {
	@extend %BlurUntilHover
}

// make default guild icons have correct colour when hovered
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
	background-color: $color-accent;
}
.theme-light {

	& .container-UC8Ug1 {
		background-color: $color-lighter;
		& .text-1FOLJS {
			color:var(--background-accent);
		}
	}

	// create a server
	& .base-1x0h_U {
		color:var(--status-warning-text);
	}

	& .colorHeaderSecondary-3Sp3Ft {
		color:var(--background-tertiary);
	}

	& .root-1gCeng {
		box-shadow: 0 0 0 1px $color-dark, 0 2px 10px 0 $color-dark;
	}
	& .footer-2gL1pp {
		box-shadow: 0 0 0 1px $color-dark
	}
	.inputWrapper-31_8H8 {
		@extend %fixColour-Dark;
		input {

			color: var(--status-warning-text);
		}
	}
}
.newMessagesBar-265mhP {
	background-color: $color-accent;
}

// verified colour change
.flowerStar-1GeTsn,.selectedIcon-3uS11H {
	* {

		fill: $color-accent
	}
}

// profile avatar upload
.editingContainer-1iOrsV {
	background: transparent !important; // overwrite
}

// fuck off.
.icon-27yU2q[src*="cdn.discordapp.com/icons/538759280057122817"] {
	content:url("https://powercord.dev/assets/powercord.560b7dc8.png")
}

// join guild

.sampleLink-2NLvZg {
	color: var(--status-warning-text);
}

// search (ctrl + k) input
.input-2VB9rf {
	@extend %fixColour-Dark
}

// invite to guild (and prob other stuff) colour change
.colorBrand-ROmMP1 {
	color:$color-accent
}

#permissions-modal div {
	@extend %fixColour
}

//discover search

.search-1iTphC .searchBox-2_mAlO {
	@extend %fixColour;
	.searchBoxInput-K6mkng {
		color:var(--status-danger-text) // lol idc
	}
}

.search-1iTphC .searchBox-2_mAlO:focus, .search-1iTphC .searchBox-2_mAlO:focus-within {
	box-shadow: 0 0 0 1px $color-accent, 0 0 0 2px scale-color($color-accent,$lightness:20%), 0 0 0 3px scale-color($color-accent,$lightness:10%);
}
//vc buttons

.wrapper-3EGhDO {
	& .colorable-1bkp8v.primaryDark-3mSFDl {
		@extend %fixColour-Dark
	}
}

.bodyInnerWrapper-26fQXj {
	background-color: $color-user-popout !important;
}

// user panel
.panels-j1Uci_ {
	box-shadow: 0 -10px 7px 8px #181a1f;
}
// guild name header
.header-2V-4Sw {
	@extend %fixColour-Dark
}
// i presume this is the selector regardless of client
#channels {
	//margin-top: 1em;
	border-radius: 8px 8px 0 0;
	//@extend %fixColour
}
.container-3w7J-x {
	//@extend %fixColour-Dark
}
.userPopout-xaxa6l {
	& > div, .headerTop-2cWpdB, .aboutMeSection---MkQa {

		background: $color-dark;
	}
	@extend %blur;
	.banner-2QYc2d {
		opacity: .8;
	}
}

// full popout user
.body-r6_QPy, .topSection-y3p-_D {
	//background-color: initial;
}

// code blocks with better code blocks
.hljs {
	background-color: $color-light !important;
}
// message attachment icons colour fix
.icons-1w691d .icon-kyxXVr {
	filter: hue-rotate(70deg) !important;
}
.gifTag-31zFY8 {
	@extend %blur;
	border-radius: .4em;
}
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
	filter: hue-rotate(70deg); /* i swear im not paranoid please listen to meeeeeeeeeeeee*/
}
.betaBadge-1Ve-yb {
	background-color: $color-accent !important;
}
.container-2VW0UT.elevationHigh-1PneE4 {
	@extend %blur
}

.bodyInnerWrapper-26fQXj {
	// i can't overwrite the background colour since it's important on the style tag; so i will just have to make it look nice ig.
	border-radius: 8px;
	padding-bottom: 1px;
}
